<!-- Site footer -->
<footer class="site-footer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">JusticeCoin is a radical decentralized crypto-based fundraising model built to support organizations promoting equality and social justice. Contact us at contact@justicecoin.com.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Miners</h6>
        <ul class="footer-links">
          <li><a href="/web-miner">Web Miner</a></li>
          <li><a href="/download/">Desktop Miner</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="/#">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/#contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
          <a href="#">JusticeCoin</a>.
          <p>Built with ❤</p>
        <p style="font-size: 1px">Nothing Here Keep Moving Along.</p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="github" href="https://github.com/Justice-Coin"><i class="fa fa-github"></i></a></li>
          <li><a class="twitter" href="https://twitter.com/Justice_Coin"><i class="fa fa-twitter"></i></a></li>
          <li><a class="instagram" href="https://www.instagram.com/justice_coin/"><i class="fa fa-instagram"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/company/justice-coin/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
