
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.45">
  <title> <%= pageTitle %> </title>
  <meta name="description" content="Justice Coin is a radical decentralized fundraising model built to support organizations promoting equality and social justice.">
  <meta name="keywords" content="Join, xmrig, fundraising, cryptocurrency, cryptocurrency fundraising, monero, monero mining, justice, coin, volunteer, non-profit, non profit,">
  <meta name="author" content="">

  <link rel="icon" href="/images/favicon.ico">
  <!--Bootstrap Css-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Animate Css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
  <!-- Material Design Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
  <!-- Custom style Css -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap" rel="stylesheet">
