<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <title>Oops!</title>
</head>

<body style="overflow: hidden">
  <div class="jumbotron text-center" style="min-height: 100vh">
    <h1 class="display-4 text-danger">Oops! Something Went Wrong!</h1>
    <p class="lead">Please try again or contact our helpdesk at contact@JusticeCoin.com.</p>
    <p class="lead text-danger">Status Code <%= statusCode %></p>
    <a class="btn btn-outline-dark" href="/home#contact" role="button"><strong>Try Again</strong></a>
  </div>
</body>

</html>
