<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <title>Success!</title>
</head>

<body style="overflow: hidden">
  <div class="jumbotron text-center" style="min-height: 100vh">
    <h1 class="display-4 text-success">Success!</h1>
    <p class="lead">You've been signed up!</p>
    <a class="btn btn-outline-success" style="" href="/" role="button"><strong>Home</strong></a>
  </div>
</body>

</html>
